body {
  margin: 0;
  background-color: aliceblue;
  background-image: url('./nitra.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% top;
  background-attachment: fixed;
}

h1,
h2,
h4,
p {
  margin: 0;
}
